{% extends 'base.html' %}
{% block title %}
Task List
{% endblock title %}
{% block content %}

    <main>
        <div>
            <h1>My Tasks</h1>
            {% if tasks|length > 0 %}
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Start date</th>
                        <th>Due date</th>
                        <th>Is completed</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in tasks.all %}
                    <tr>
                        <td>{{ item.name }}</td>
                        <td>{{ item.start_date|date:"M. j, Y, g:i a" }}</td>
                        <td>{{ item.due_date|date:"M. j, Y, g:i a" }}</td>
                        <td>{{ item.iscompleted|yesno }}</td>
                    </tr>
                </tbody>
            </table>
            {% endfor %}
            {% else %}
            <p>You have no tasks</p>
            {% endif %}

        </div>
    </main>
{% endblock content %}
