{% extends 'base.html' %}
{% block title %}
My Tasks
{% endblock title %}

{% block content %}

    <main>
        <div>
            <h1>{{ detail_list.name }}</h1>
            <p>{{ detail_list.description }}</p>
            <h2>Tasks</h2>
            <p><a href="{% url 'create_task' %}">Create a new task</a></p>
            {% if detail_list.tasks.all|length > 0 %}
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Assignee</th>
                        <th>Start date</th>
                        <th>Due date</th>
                        <th>Is completed</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in detail_list.tasks.all %}
                    <tr>
                        <td>{{ item.name }}</td>
                        <td>{{ item.assignee.username }}</td>
                        <td>{{ item.start_date|date:"M. j, Y, g:i a" }}</td>
                        <td>{{ item.due_date|date:"M. j, Y, g:i a" }}</td>
                        <td>{{ item.iscompleted|yesno }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            <p>This project has no tasks</p>
            {% endif %}

        </div>
    </main>
{% endblock content %}
