{% extends 'base.html' %}
{% block title %}
Projects
{% endblock title %}


{% block content %}

    <main>
        <div>
        <h1>My Projects</h1>
        <p><a href="{% url 'create_project' %}">Create</a></p>
        {% if project_lists|length == 0 %}
            <p>You are not assigned to any projects</p>
        {% endif %}
            <table>
                <thead>
                    <tr>
                        <td>Name</td>
                        <td>Number of tasks</td>
                    </tr>
                </thead>
                <tbody>
                    {% for project in project_lists %}
                    <tr>
                        <td><a href="{% url 'show_project' project.id %}">{{ project.name }}</a></td>
                        <td>{{ project.tasks.all|length }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>
    </main>
{% endblock content %}
